@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;600&family=Barlow+Condensed:wght@400;500;600&family=Inconsolata:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* vars */
:root {
  --primary-color: #00eaff;
  --secondary-color: rgb(150, 162, 188);
  --background-color: #031a30;
  --text-color: #dae4fb;
  --paragraph-color: rgb(127, 127, 175);
  --hover-color: hsl(185, 92%, 41%);
  --form-color: rgb(2, 15, 29);
  --project-card-color: #072340;
}

/* reset */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html body {
  background: #031a30;
}

html a {
  text-decoration: none;
}

html li {
  list-style: none;
}

html img {
  width: 100%;
  height: auto;
}

html video {
  width: 100%;
}

/* base */

.skills-icon {
  width: 25px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section-title {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: #dae4fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title .title-number {
  color: #00eaff;
  margin: 0 0.6rem;
  font-weight: 600;
}

.section-title .title-text {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.section-title .underline {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 35px;
  left: 0;
  border-radius: 10px;
  background: #96a2bc;
  overflow: hidden;
}

.section-title .underline span {
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  width: 10px;
  border-radius: 10px;
  background: #dae4fb;
  -webkit-animation: light-animation 2s linear infinite;
          animation: light-animation 2s linear infinite;
}

/* header */

.header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3rem;
  padding: 2rem;
  background: #031a30;
  z-index: 100;
}

.header .logo-img {
  width: 50px;
  height: 45px;
}

.header .logo-text {
  color: #dae4fb;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}

.header .logo-text span {
  font-size: 3rem;
  color: #00eaff;
}

.header .toggler-icon {
  color: #00eaff;
  font-size: 2rem;
  cursor: pointer;
}

.header-active {
  background: #072340;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
          box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
}

.navbar-list {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 0.6rem 2rem;
  width: 90%;
  margin: auto;
}

.navbar-list .close-icon {
  position: absolute;
  top: 10px;
}

.navbar-list .close-icon .css-close-icon {
  content: url("https://api.iconify.design/eva/close-circle-outline.svg?color=%2300eaff&width=30&height=30");
}

.navbar-list .close-icon .icon {
  color: #00eaff;
  font-size: 2rem;
  cursor: pointer;
}

.navbar-list .close-icon .icon:hover {
  color: #08b9c9;
}

.navbar-item {
  margin: auto;
  padding: 1rem 0;
}

.navbar-link {
  position: relative;
  color: #00eaff;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar-link::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  background: #08b9c9;
  height: 2px;
  width: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  background: #00eaff;
  height: 2px;
  width: 0%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.navbar-link:hover {
  color: #08b9c9;
}

.navbar-link:hover::before {
  width: 100%;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link .number {
  color: #08b9c9;
}

.resume-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

.resume-container .resume-btn {
  position: relative;
  border: 2px solid #08b9c9;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #00eaff;
}

.resume-container .resume-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #08b9c9;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.resume-container .resume-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #031a30;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.resume-container .resume-btn:hover {
  color: #dae4fb;
  border: 2px solid #031a30;
}

.resume-container .resume-btn:hover::before {
  width: 100%;
}

.resume-container .resume-btn:hover::after {
  width: 100%;
}

.show {
  top: 250px !important;
}

.to-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.5;
  background: #00eaff;
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}

.to-top-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.to-top-btn .to-top-icon {
  color: #031a30;
  font-size: 25px;
  cursor: pointer;
}

.col {
  display: none;
}

.content {
  margin: 4rem 0;
}

.content .content-text {
  margin: 1rem 0;
}

.content .content-text .intro-text {
  font-size: 1rem;
  color: #00eaff;
  padding: 1rem 0;
  letter-spacing: 1px;
}

.content .content-text .name {
  font-size: 3rem;
  font-weight: 600;
  color: #dae4fb;
}

.content .content-text .sub-intro {
  font-size: 2rem;
  color: #96a2bc;
  line-height: 2rem;
  padding: 0.5rem 0;
}

.content .content-text .banner-p {
  font-size: 1.3rem;
  color: #7f7faf;
  padding: 1rem 0;
  max-width: 600px;
}

.banner-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00eaff;
  padding: 5px 10px;
  height: 50px;
  width: 200px;
  border-radius: 40px;
  color: #031a30;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.banner-btn:hover {
  background-color: #08b9c9;
  color: #dae4fb;
}

.banner-btn .icon {
  margin-left: 0.6rem;
  cursor: pointer;
}

.scroll-down-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-down-container .scroll-down {
  font-size: 1rem;
  color: #00eaff;
}

.scroll-down-container .icon {
  font-size: 1.3rem;
  margin-left: 0.6rem;
  color: #00eaff;
  -webkit-animation: move 0.5s infinite;
          animation: move 0.5s infinite;
  cursor: pointer;
}

.scroll-down-container .mouse-icon {
  font-size: 1.3rem;
  margin-right: 0.3rem;
  color: #00eaff;
  cursor: pointer;
}

.about .content .about-text-container {
  text-align: center;
  padding: 1rem 0;
  margin: auto;
}

/* about */

.about .content .about-text-container .about-description {
  color: #dae4fb;
  font-size: 1.1rem;
  max-width: 100%;
  padding: 0 0.6rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: auto;
}

.about .content .image-container {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 2rem auto 3rem;
  border-radius: 50%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  border: 2px solid #00eaff;
}

.about .content .image-container:hover {
  -webkit-animation: pp-animation 2s ease-in-out infinite;
          animation: pp-animation 2s ease-in-out infinite;
}

.about .content .image-container:hover::before {
  height: 0%;
}

.about .content .image-container .profile-image {
  width: 252px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about .content .voice-note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00eaff;
}

.about .content .voice-note-container .voice-note-player {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 400px;
  padding: 0.7rem 1rem;
  background: #031a30;
  border-radius: 3rem;
}

.about .content .voice-note-container .voice-note-player #playIcon {
  font-size: 2rem;
  color: #00eaff;
  cursor: pointer;
}

.about .content .voice-note-container .voice-note-player #playIcon:hover {
  color: #08b9c9;
}

.about .content .voice-note-container span {
  color: #00eaff;
}

.about .content .voice-note-container #current span {
  font-weight: 600;
  -webkit-transition: all 0.34s linear;
  transition: all 0.34s linear;
}

.about .content .voice-note-container .audio-progress-bar {
  position: absolute;
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
  background: #072340;
  overflow: hidden;
  border-radius: 3rem;
  z-index: -2;
}

.about .content .voice-note-container #progress {
  display: blcok;
  width: var(--progress, 0%);
  background: #00eaff;
  height: 100%;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.about .content .download-cv-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .content .download-cv-btn-container .download-cv-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00eaff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  height: 60px;
  width: 400px;
  border-radius: 40px;
  color: #031a30;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.about .content .download-cv-btn-container .download-cv-btn:hover {
  background-color: #08b9c9;
  color: #dae4fb;
}

.about .content .download-cv-btn-container .download-cv-btn .download-icon {
  margin-left: 0.6rem;
}

.skills-content {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  margin: 2rem 0 0;
}

.skills-content .skill-info .skill-info-header {
  margin: 1rem 0;
}

.skills-content .skill-info .skill-info-header .skill-title {
  color: #dae4fb;
}

.skills-content .skill-info .skill-info-header .skill-sub-title {
  color: #96a2bc;
  font-weight: 600;
}

.skills-content .skill-info .skill-icons {
  margin: 1rem 0;
  font-size: xx-large;
}

.skill-description {
  color: #96a2bc;
  font-size: 20px;
  font-weight: 600;
  line-height: 1rem;
  padding: 2rem 0 0;
}

/* projects */

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
}

.content-header .project-description {
  color: #96a2bc;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
}

.content-header .li {
  position: relative;
  margin: 0.5rem 1rem;
  color: #96a2bc;
  font-weight: 600;
}

.project-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem auto;
}

.project-footer a {
  position: relative;
  border: 2px solid #08b9c9;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #00eaff;
}

.project-footer a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #08b9c9;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project-footer a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #031a30;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project-footer a:hover {
  color: #dae4fb;
  border: 2px solid #031a30;
}

.project-footer a:hover::before {
  width: 100%;
}

.project-footer a:hover::after {
  width: 100%;
}

.boxes {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.boxes .box {
  padding: 1rem;
  background: #072340;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px #010a149a;
          box-shadow: 0 2px 2px #010a149a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.boxes .box .wrapper-link {
  display: block;
  float: right;
  color: #00eaff;
  font-size: 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

.boxes .box .project-text-container {
  padding: 0.5rem;
}

.boxes .box .project-text-container .title {
  display: block;
  padding: 10px 0;
  text-align: left;
  color: #dae4fb;
}

.boxes .box .project-text-container p {
  color: #96a2bc;
  font-weight: 400;
}

.boxes .box .project-text-container .software {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin-left: auto;
}

.boxes .box .project-text-container .software span {
  color: #7f7faf;
  margin: 0 10px;
  font-weight: 600;
}

.boxes .box .project-container .project-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes .box .project-container .project-container-top .indicator {
  content: '';
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: crimson;
  margin-left: 1rem;
}

.boxes .box .project-container .project-container-top .indicator::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 2px solid crimson;
  -webkit-transform: translate(-4.5px, -4.5px);
          transform: translate(-4.5px, -4.5px);
  -webkit-animation: indicator 0.5s ease-in-out infinite;
          animation: indicator 0.5s ease-in-out infinite;
}

.boxes .box .project-container .project-container-top .live {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.6rem;
  color: crimson;
}

.boxes .box .project-container .project-container-top .live span {
  font-weight: 800;
}

.boxes .box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.ui {
  margin-top: 1rem;
}

.animation {
  margin-top: 1rem;
}

/* contact */

.contact-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto;
  padding: 1rem;
}

.contact-top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem;
}

.contact-top .contact-icon {
  font-size: 1.5rem;
  color: #00eaff;
  margin-right: 1rem;
  cursor: pointer;
}

.contact-top .contact-title {
  font-size: 1.3rem;
  color: #dae4fb;
}

.contact-top .contact-desc {
  color: #7f7faf;
  font-size: 1.1rem;
  font-weight: 600;
}

form {
  padding: 1rem;
}

form .form-top {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

form .form-top .field {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  background: #020f1d;
  border-radius: 3px;
}

form .form-top .field label {
  color: #96a2bc;
  font-weight: 600;
}

form .form-top .field input {
  background: transparent;
  outline: none;
  border: none;
  color: #dae4fb;
}

form textarea {
  background: #020f1d;
  margin-top: 1rem;
  outline: none;
  border: none;
  padding: 1rem;
  color: #dae4fb;
  width: 100%;
}

form textarea::-webkit-input-placeholder {
  color: #96a2bc;
  font-weight: 600;
}

form textarea:-ms-input-placeholder {
  color: #96a2bc;
  font-weight: 600;
}

form textarea::-ms-input-placeholder {
  color: #96a2bc;
  font-weight: 600;
}

form textarea::placeholder {
  color: #96a2bc;
  font-weight: 600;
}

form button {
  display: block;
  width: 100%;
  border-radius: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  margin: 1rem auto;
  font-size: 1rem;
  background: #00eaff;
  outline: none;
  border: none;
  cursor: pointer;
}

form button:hover {
  color: #dae4fb;
  background: #08b9c9;
}

form button .uil {
  margin-left: 0.6rem;
}

/* footer mobile icons */

.mobile-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
}

.mobile-icons a {
  margin: 0 5px;
  font-size: 20px;
  color: #00eaff;
}

.mobile-icons a:hover {
  -webkit-transform: translateY("10px");
          transform: translateY("10px");
}

/* footer */

.footer {
  margin: 1rem auto 0;
  text-align: center;
}

.footer span {
  color: #7f7faf;
}

/* thank-you.html */
.thank-you-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.thank-you-text .text {
  color: #08b9c9;
  font-size: 4rem;
  padding: 10px 25px;
  line-height: 3rem;
}

.thank-you-text .text-tag {
  color: #96a2bc;
  display: block;
  font-size: 20px;
  padding: 1rem 0;
}

/* media queries */

@media screen and (min-width: 368px) {
  .about-description {
    text-align: justify;
  }
}

@media screen and (min-width: 645px) {
  .skills-content {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 6rem 0 4rem;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .close-icon {
    display: none;
    cursor: pointer;
  }
  .header {
    padding: 3rem 4rem;
  }
  .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1rem;
  }
  .navbar-list .navbar-link {
    color: #dae4fb;
    font-size: 1rem;
  }
  .navbar-toggler {
    display: none;
  }
  .resume-container .resume-btn {
    color: #96a2bc;
  }
  .boxes {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .about .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact-content {
    -ms-grid-columns: 200px 400px;
        grid-template-columns: 200px 400px;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5rem;
  }
  .contact-content .contact-top {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    top: -700%;
    right: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #020f1d;
    padding: 1rem 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 150;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 2px solid #00eaff;
  }
}

@media screen and (min-width: 960px) {
  .main-container {
    width: 65%;
    margin: auto;
  }
  .mobile-icons {
    display: none;
  }
  .col {
    position: fixed;
    bottom: 0;
    padding: 0 1rem;
    margin: 0 4rem;
    display: block;
  }
  .col .left-col {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col .left-line-container {
    content: '';
    height: 150px;
    width: 1px;
    background: #96a2bc;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .col .left-col-icon {
    font-size: 1.5rem;
    color: #96a2bc;
    font-weight: 400;
    margin-bottom: 1rem;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
  }
  .col .left-col-icon:hover {
    color: #00eaff;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  .right-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: -5%;
  }
  .email-container {
    color: #96a2bc;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: inherit;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transform: rotate(90deg) translate(-90px, -12px);
            transform: rotate(90deg) translate(-90px, -12px);
  }
  .email-container:hover {
    color: #00eaff;
  }
  .right-line-container {
    content: '';
    height: 150px;
    width: 1px;
    background: #96a2bc;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    z-index: 150;
  }
  .content-text .intro-text {
    font-size: 1.5rem !important;
  }
  .content-text .name {
    font-size: 4rem !important;
  }
  .content-text .sub-intro {
    font-size: 2rem !important;
  }
  .content-text .banner-p {
    font-size: 1.5rem !important;
  }
}

@media screen and (min-width: 1080px) {
  .banner .container {
    padding: 1rem 4rem;
  }
  .archive-section .title-sub-text {
    font-size: 20px;
  }
  .archive-section .underline {
    margin-top: 1rem;
  }
  .archive-section .title-text {
    font-size: 45px !important;
  }
  .content-text .intro-text {
    font-size: 1.2rem !important;
  }
  .content-text .name {
    font-size: 4em !important;
  }
  .content-text .sub-intro {
    font-size: 2.4rem !important;
  }
  .content-text .banner-p {
    font-size: 1.7rem !important;
  }
  .about-description {
    font-size: 1.2rem !important;
  }
}

@media screen and (min-width: 1240px) {
  .skills-content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .skills-content .skill-info {
    margin: auto;
  }
  .content-text .intro-text {
    font-size: 1.3rem !important;
  }
  .content-text .name {
    font-size: 5.5em !important;
  }
  .content-text .sub-intro {
    font-size: 2.8rem !important;
    line-height: 2.5rem !important;
  }
  .content-text .banner-p {
    font-size: 1.7rem !important;
  }
  .about-description {
    font-size: 1.2rem !important;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: #031a30;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: #00eaff;
  border-radius: 2rem;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #08b9c9;
}

::-moz-selection {
  background: #031a30;
  color: #00eaff;
}

::selection {
  background: #031a30;
  color: #00eaff;
}

/* keyframes */

@-webkit-keyframes light-animation {
  0% {
    left: -20px;
  }
  100% {
    left: 100px;
  }
}
@keyframes light-animation {
  0% {
    left: -20px;
  }
  100% {
    left: 100px;
  }
}

@-webkit-keyframes pp-animation {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  75% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes pp-animation {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  75% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  75% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  75% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes indicator {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes indicator {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
